* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.flex {
    display: flex;
}

.button-style {
    border: 0;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: white;
    color: black;
}

/* proprieta flex */

.wrap {
    flex-wrap: wrap;
}

.jst-spcaround {
justify-content:space-around;
}

.jst-spbtwn {
    justify-content: space-between;
}

.jst-cntr {
    justify-content: center
}

.jst-end{
    justify-content: end;
}

.al-cntr {
    align-items:center
}

.gap10{
    gap: 20px;
}


/* dimensioni oercentuali */
.listwidth-small {
    width:calc(100% / 2);
}
 
.listwidth-big {
    width: calc(100% / 3);
}

.col70 {
    flex-basis: 70%;
}

.col30 {
    flex-basis: 30%;
}

.width-20 {
    width: 20%
}

.width-80{
    width: 80%;
}       

.width-50{
    width: 50%;
}

.width-60{
    width: 60%;
}

.width-100{
    width: 100%;
}

.width-30px {
    width: 30px;
}

/* colori */

.main-image {
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.darkgrey {
    background-color:rgb(49,51,56) ;
}

.txt-white{
    color: white;
}

.txt-blu {
   color: rgb(72, 116, 238); 
}

/* background color */

.button-black {
    background-color: black;
}

.header-color {
    background-color: rgb(37,94,233);
}

.gray {
    background-color: #f6f6f6;
}

/* formattazione testo */

.ln-h180 {
    line-height: 180%;
}

.txt-centre {
    text-align: center;
}

.font60 {
    font-size: 45px;
}

.font30{
    font-size: 25px;
}

.font40
{font-size: 40px;}

.font20{
    font-size: 20px;
}

/* margini e padding */

.mrg-lr {
    margin: 0px 30px;
}

.mrgbot-20px {
    margin-bottom: 20px;
}

.mrgbot-40 {
    margin-bottom: 40px;
}

.mrgbot-60{
    margin-bottom: 60px;
}

.mrgtop-30 {
    margin-top: 30px;
}

.mrgtop-60 {
    margin-top: 60px;
}
.mrg0auto {
    margin: 0 auto;
}

.padd-top80 {
    padding-top: 80px;
}

.padd-top40 {
    padding-top: 40px;
}
 
.padd-top100 {
    padding-top: 100px;
}

.padd-top20 {
    padding-top: 10px;
}

.padd-bott100 {
    padding-bottom: 100px;
}

.padd-bott60 {
    padding-bottom: 60px;
}

.padd-bott20 {
    padding-bottom: 20px;
}

.padd-top60 {
    padding-top: 60px;
}

/* stile bottoni */


.button-black {
    background-color: black;
}

#italy-flag {
    vertical-align:sub;
}

.rot180 {
    rotate: 180deg;
}

.filt-grey {
    filter: invert(100%) sepia(0%) saturate(4556%) hue-rotate(7deg) brightness(117%) contrast(93%);
}

.filt-white {
    filter: invert(100%) sepia(0%) saturate(7496%) hue-rotate(160deg) brightness(101%) contrast(102%);
}

.onde {
    width: 100%;
    height: 100px;
    color: hsl(0, 0%, 100%);
}

.stars {
    width: 100%;
}

.p-relative {
    position: relative;
    margin: 0 auto 40px auto;
    height: 100px;
}

.p-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}